# Named Entity Recognition in Python

This is a series of explorations based on *Tobias's* [series](https://www.depends-on-the-definition.com/named-entity-recognition-with-residual-lstm-and-elmo/) on Entity and relationship extraction. This will also serve as boiler plate code for various other starting points in this code repository.

In [45]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/ner_dataset.csv', encoding='latin1')
data = data.fillna(method='ffill')

# data.head(10)

In [46]:
data.tail(10)

              Sentence #       Word  POS    Tag
1048565  Sentence: 47958     impact   NN      O
1048566  Sentence: 47958          .    .      O
1048567  Sentence: 47959     Indian   JJ  B-gpe
1048568  Sentence: 47959     forces  NNS      O
1048569  Sentence: 47959       said  VBD      O
1048570  Sentence: 47959       they  PRP      O
1048571  Sentence: 47959  responded  VBD      O
1048572  Sentence: 47959         to   TO      O
1048573  Sentence: 47959        the   DT      O
1048574  Sentence: 47959     attack   NN      O

Deviating from the code a little bit here. Instead of using `set` and then `list`, here I use the `unique` function on the pandas column.

In [47]:
words = data['Word'].unique().tolist()

# print(type(words))
print(len(words))

35178

In [48]:
print("The data consists of {} sentences consisting of {} unique words".format('47959',len(words)))

The data consists of 47959 sentences consisting of 35178 unique words

In [49]:
s = data[data['Sentence #'] == "Sentence: {}".format(1)]
print(s)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1   Sentence: 1             of   IN      O
2   Sentence: 1  demonstrators  NNS      O
3   Sentence: 1           have  VBP      O
4   Sentence: 1        marched  VBN      O
5   Sentence: 1        through   IN      O
6   Sentence: 1         London  NNP  B-geo
7   Sentence: 1             to   TO      O
8   Sentence: 1        protest   VB      O
9   Sentence: 1            the   DT      O
10  Sentence: 1            war   NN      O
11  Sentence: 1             in   IN      O
12  Sentence: 1           Iraq  NNP  B-geo
13  Sentence: 1            and   CC      O
14  Sentence: 1         demand   VB      O
15  Sentence: 1            the   DT      O
16  Sentence: 1     withdrawal   NN      O
17  Sentence: 1             of   IN      O
18  Sentence: 1        British   JJ  B-gpe
19  Sentence: 1         troops  NNS      O
20  Sentence: 1           from   IN      O
21  Sentence: 1           that   DT      O
22  Sentence: 1        country   NN      O
23  Sentence: 1              .    .      O

In [50]:
class SentenceGetter(object):
    
    def __init__(self,data):
        self.sentence_number = 1
        self.data = data
        self.empty = False
        
    def get_next(self):
        try:
            s = self.data[self.data['Sentence #'] == "Sentence: {}".format(self.sentence_number)]
            self.sentence_number +=1
            return s['Word'].values.tolist(),s['POS'].values.tolist(),s['Tag'].values.tolist()
        except:
            self.empty = True
            return None, None, None

In [51]:
getter = SentenceGetter(data)
sent, pos, tag = getter.get_next()

In [52]:
print(sent);print(pos);print(tag)

['Thousands', 'of', 'demonstrators', 'have', 'marched', 'through', 'London', 'to', 'protest', 'the', 'war', 'in', 'Iraq', 'and', 'demand', 'the', 'withdrawal', 'of', 'British', 'troops', 'from', 'that', 'country', '.']
['NNS', 'IN', 'NNS', 'VBP', 'VBN', 'IN', 'NNP', 'TO', 'VB', 'DT', 'NN', 'IN', 'NNP', 'CC', 'VB', 'DT', 'NN', 'IN', 'JJ', 'NNS', 'IN', 'DT', 'NN', '.']
['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-gpe', 'O', 'O', 'O', 'O', 'O']

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin